In [2]:
import pandas as pd

# TheMovieDB.org - tmdb.movies.csv

*only movies from 2010-2018
*from https://developers.themoviedb.org/3/discover/movie-discover

In [3]:
tmdb_df = pd.read_csv("data/tmdb.movies.csv.gz")
tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [4]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

# TheMovieDB.org - tn.movie_budgets.csv

*includes all movies from https://www.the-numbers.com/movie/budgets/all

In [5]:
tn_budgets_df = pd.read_csv("data/tn.movie_budgets.csv.gz")
tn_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [6]:
tn_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

# Rotten Tomatoes - Reviews

*from https://www.kaggle.com/rpnuser8182/rotten-tomatoes

In [7]:
rt_reviews_df = pd.read_csv("data/rt.reviews.tsv.gz", delimiter='\t', encoding='latin-1')
rt_reviews_df.head()

rt_reviews_df.loc[rt_reviews_df['top_critic'] == 1]

,id,review,rating,fresh,critic,top_critic,publisher,date
24,3,"The rapid dialogue is dry and mannered, like a...",2.5/4,rotten,Joe Williams,1,St. Louis Post-Dispatch,"September 6, 2012"
47,3,It feels like each and every moment bursts for...,2/4,rotten,Stephanie Merry,1,Washington Post,"August 24, 2012"
50,3,"There's not really a movie there, nothing that...",2/4,rotten,Mick LaSalle,1,San Francisco Chronicle,"August 23, 2012"
54,3,The film is all too faithful to its un-cinemat...,1.5/4,rotten,Colin Covert,1,Minneapolis Star Tribune,"August 23, 2012"
55,3,"Cosmopolis,"" because of its allegiance to the ...",2/4,rotten,Moira MacDonald,1,Seattle Times,"August 23, 2012"
58,3,Poor Pattinson does the best he can. He's not ...,2/4,rotten,Mark Feeney,1,Boston Globe,"August 23, 2012"
60,3,The story seems to cleave into cerebral disqui...,NaN,fresh,J. R. Jones,1,Chicago Reader,"August 23, 2012"
62,3,The movie isn't for everyone. But if it grabs ...,3/4,fresh,Rene Rodriguez,1,Miami Herald,"August 23, 2012"
64,3,A flawlessly directed film about enigmatic peo...,2/4,rotten,Roger Ebert,1,Chicago Sun-Times,"August 23, 2012"
77,3,"Despite the constrictions, Cronenberg keeps th...",NaN,fresh,David Denby,1,New Yorker,"August 17, 2012"
78,3,It is one of the director's better movies of r...,NaN,fresh,Bilge Ebiri,1,New York Magazine/Vulture,"August 17, 2012"
81,3,"David Cronenberg meets Don DeLillo at last, an...",1/4,rotten,Kyle Smith,1,New York Post,"August 17, 2012"
83,3,I took a strange pleasure in submitting to thi...,NaN,fresh,Dana Stevens,1,Slate,"August 16, 2012"
86,3,I never imagined describing a film as a cross ...,NaN,fresh,Alonso Duralde,1,TheWrap,"August 16, 2012"
87,3,"It's all vapid snark, didactic sermonizing and...",2/4,rotten,Claudia Puig,1,USA Today,"August 16, 2012"
88,3,DeLillo's brilliant analysis of the destructiv...,2.5/5,rotten,Betsy Sharkey,1,Los Angeles Times,"August 16, 2012"
89,3,"It's like a dream that engages and drifts, unt...",NaN,fresh,Scott Tobias,1,NPR,"August 16, 2012"
90,3,Frustratingly bland work from lead Robert Patt...,2/5,rotten,Elizabeth Weitzman,1,New York Daily News,"August 16, 2012"
91,3,Conventional it is not. Engrossing it is.,NaN,fresh,John Anderson,1,Wall Street Journal,"August 16, 2012"
92,3,"Mr. Cronenberg's direction throughout ""Cosmopo...",3.5/5,fresh,Manohla Dargis,1,New York Times,"August 16, 2012"
93,3,If you can get past the psychological density ...,3/4,fresh,Peter Travers,1,Rolling Stone,"August 16, 2012"
95,3,"Sometimes, even a little gratuitous nudity can...",1/4,rotten,James Berardinelli,1,ReelViews,"August 16, 2012"
96,3,"Cronenberg turns a difficult, sometimes frustr...",C,rotten,Keith Phipps,1,AV Club,"August 16, 2012"
98,3,"Cosmopolis"" is Cronenberg's best film since ""e...",A-,fresh,Jordan Hoffman,1,Film.com,"August 15, 2012"
99,3,We're supposed to be feeling . . . something. ...,NaN,rotten,Karina Longworth,1,Village Voice,"August 14, 2012"
100,3,Cosmopolis is almost certainly some kind of ma...,5/5,fresh,Glenn Kenny,1,MSN Movies,"August 14, 2012"
104,3,The more abstract and overtly stylized Cosmopo...,B-,fresh,Mike D'Angelo,1,AV Club,"August 13, 2012"
108,3,"A sensual, propulsive thriller, the apocalypse...",4/5,fresh,Joshua Rothkopf,1,Time Out,"August 7, 2012"
128,3,Cosmopolis demonstrates that even a flawed thr...,B,fresh,Eric Kohn,1,indieWire,"June 15, 2012"
152,3,"[A] vapid, claustrophobic drama...",NaN,rotten,Richard Corliss,1,TIME Magazine,"May 25, 2012"
...,...,...,...,...,...,...,...,...
54331,1997,"This is a dismal, dreary and fairly desperate ...",1.5/4,rotten,Roger Ebert,1,Chicago Sun-Times,"January 1, 2000"
54332,1997,"A respectably funny -- but small -- effort, a ...",NaN,fresh,Desson Thomson,1,Washington Post,"January 1, 2000"
54333,1997,Curtin and Aykroyd rely on old standbys... Whe...,NaN,rotten,Rita Kempley,1,Washington Post,"January 1, 2000"
54337,1997,NaN,B-,fresh,Owen Gleiberman,1,Entertainment Weekly,"September 7, 2011"
54345,1997,NaN,B-,fresh,NaN,1,Entertainment Weekly,"July 23, 1993"
54352,1999,"In The Sandlot's nostalgia for simpler times, ...",2/4,rotten,Dave Kehr,1,Chicago Tribune,"May 7, 2014"
54353,1999,"The kids even have their own treehouse, which ...",NaN,rotten,Peter Rainer,1,Los Angeles Times,"May 7, 2014"
54354,1999,"A solid double rather than a grand slam, The S...",3/4,fresh,Desmond Ryan,1,Philadelphia Inquirer,"May 7, 2014"
54360,1999,There's a snappy change-of-pace gag involving ...,NaN,rotten,Michael Sragow,1,New Yorker,"May 7, 2014"
54366,1999,"Sweet and sincere, the film is also a remarkab...",NaN,rotten,Leonard Klady,1,Variety,"March 26, 2009"
54368,1999,"Ever since Stand by Me, it seems that every Bo...",NaN,rotten,NaN,1,Time Out,"February 9, 2006"
54369,1999,Nothing about his modest coming-of-age comedy ...,NaN,rotten,Janet Maslin,1,New York Times,"August 30, 2004"
54374,1999,"Predictable as the movie is, the Field of Drea...",NaN,fresh,James Berardinelli,1,ReelViews,"January 1, 2000"
54375,1999,This is a movie... that allows its kids to be ...,3/4,fresh,Roger Ebert,1,Chicago Sun-Times,"January 1, 2000"
54376,1999,The Sandlot isn't well made but it's alive wit...,NaN,fresh,Desson Thomson,1,Washington Post,"January 1, 2000"
54377,1999,Older kids and overgrown ones too probably wil...,NaN,rotten,Rita Kempley,1,Washington Post,"January 1, 2000"
54381,1999,Old baseball wisdom: The best teams win with s...,B+,fresh,Bob Cannon,1,Entertainment Weekly,"April 1, 1993"
54398,2000,The movie fails to live up to the sum of its p...,NaN,rotten,Judith Prescott,1,Hollywood Reporter,"February 5, 2003"
54402,2000,"The film is a contrivance, as artificial as th...",B,fresh,Matt Weitz,1,Dallas Morning News,"November 14, 2002"
54403,2000,Reno does what he can in a thankless situation...,1.5/4,rotten,Roger Ebert,1,Chicago Sun-Times,"October 20, 2002"
54404,2000,"Like being trapped inside a huge video game, w...",2/4,rotten,Michael Wilmington,1,Chicago Tribune,"October 17, 2002"
54407,2000,One scarcely needs the subtitles to enjoy this...,NaN,fresh,Richard Roeper,1,Ebert &amp; Roeper,"October 7, 2002"
54410,2000,"A silly, cross-cultural shoot-'em-up -- the so...",2/4,fresh,Jonathan Curiel,1,San Francisco Chronicle,"October 4, 2002"
54411,2000,Don't let the subtitles fool you; the movie on...,2/4,rotten,John Monaghan,1,Detroit Free Press,"October 4, 2002"
54417,2000,"The funny thing is, I didn't mind all this con...",NaN,fresh,Andrew Sarris,1,Observer,"October 2, 2002"
54419,2000,"Sleek, shallow, but frequently amusing.",2.5/4,fresh,Gene Seymour,1,Newsday,"September 27, 2002"
54420,2000,The spaniel-eyed Jean Reno infuses Hubert with...,3/4,fresh,Megan Turner,1,New York Post,"September 27, 2002"
54424,2000,Dawdles and drags when it should pop; it doesn...,1.5/5,rotten,Manohla Dargis,1,Los Angeles Times,"September 26, 2002"
54426,2000,The film lapses too often into sugary sentimen...,NaN,rotten,Paul Malcolm,1,L.A. Weekly,"September 26, 2002"
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"

In [8]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
id            54432 non-null int64
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

# Rotten Tomatoes - Movie Info

In [32]:
rt_movie_df = pd.read_csv("data/rt.movie_info.tsv.gz", delimiter='\t')
rt_movie_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [33]:
rt_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.3+ KB

# IMDB Title Ratings

*all IMDB from 2010-2018
*from https://www.imdb.com/interfaces/

In [6]:
imdb_title_ratings_df = pd.read_csv("data/imdb.title.ratings.csv.gz")
imdb_title_ratings_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [35]:
imdb_title_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 1 columns):
tconst,"averagerating","numvotes"    73856 non-null object
dtypes: object(1)
memory usage: 577.1+ KB

# IMDB Title Principals

In [36]:
imdb_title_principals_df = pd.read_csv("data/imdb.title.principals.csv.gz")
imdb_title_principals_df.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [37]:
imdb_title_principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB